{% load static %}
{% load socialaccount %}
{% load account %}
{% providers_media_js %}

{% include 'groupprojects/base.html' %}

{% block content %}
<script>


  //To do, add ajax in submit proposal button and if the user already accessed the page
  //allow him to access it without asking for access code

  document.addEventListener('DOMContentLoaded', () => {
    let projectLink = "";
    let accessCode = "";

    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    var submitButton = document.getElementById("submit");
   
    function sendAccessCode(projectLink, accessCode){
        let data = {
          "project-slug": projectLink,
          "access-code": accessCode
        }

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", `{% url 'access' %}`, true);
        xhttp.onload = () => {
          let url = window.location;
          const data = JSON.parse(xhttp.responseText);

          if(data["status_code"] === 0){
            document.querySelector('#response-text').innerHTML = data["text"];
          }

          else if (data["status_code"] === 1) {
            history.pushState(null, null, "{%url 'home'%}");
            window.location.replace("{% url 'proposal' 123 %}".replace('123', projectLink));

          }

          else if(data["status_code"] == 2){
            modal.style.display = "block";
          }

        }
        xhttp.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        xhttp.send(JSON.stringify(data));
    }

  
    document.querySelectorAll('.proposal-button').forEach(button => {
      button.onclick = () => {
        projectLink = button.dataset.slug;
        sendAccessCode(projectLink, undefined);
      }
    });

    span.onclick = function() {
      modal.style.display = "none";
      document.getElementById("text-field").value="";
      document.getElementById("response-text").innerHTML="";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
        document.getElementById("text-field").value="";
        document.getElementById("response-text").innerHTML="";
      }
    } 

    submitButton.onclick = function(){
      var accessCodeTextField = document.getElementById("text-field");
      accessCode = accessCodeTextField.value;
      sendAccessCode(projectLink, accessCode);
    }
  });



</script>

<style>
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
</style>

<!-- slider_area_start -->
<div class="slider_area">
  <div class="single_slider  d-flex align-items-center slider_bg_1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-7 col-md-6">
                  <div class="slider_text">
                      <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">10+ Projects listed</h5>
                      <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your Ka-Grupo</h3>
                      <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">The best school project recruiting platform for college students</p>
                      <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                          <a href="#" class="boxed-btn3">Upload your Resume</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
      <img src="{%static 'groupprojects/img/banner/illustration.png'%}" alt="test">
  </div>
</div>
<!-- slider_area_end -->
 <!-- job_listing_area_start  -->
 <div class="job_listing_area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="section_title">
                  <h3>Project Listing</h3>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="brouse_job text-right">
                  <a href="jobs.html" class="boxed-btn4">Browse More Job</a>
              </div>
          </div>
      </div>
      <div class="job_lists">
          <div class="row">
            {%for project in projects%}
              <div class="col-lg-12 col-md-12">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">

                          <div class="jobs_conetent">
                              <a><h4>{{project.name}}</h4></a>
                              <div class="links_locat d-flex">
                                  <div class="location">
                                      <p> <i class="fa fa-map-marker"></i>{{ project.subject}}</p>
                                  </div>
                                  <div class="location" >
                                      <p> <i class="fa fa-clock-o"></i>{{ project.creator}}</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                             <a class="boxed-btn3 proposal-button" data-slug="{{project.slug}}" >Apply Now</a>
                          </div>
                          <div class="date">
                              <p>{{ project.date }}</p>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
</div>
<!-- job_listing_area_end  -->

  <div class="container-fluid bg-light">
    <div class="container w-75 p-3">
  </div>
  </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times</span>
        <h4>Enter Access Code</h4>
          <input type="text" id="text-field"> 
          <button type="submit" id="submit">Submit</button>
        <p id="response-text"></p>
      </div>
    </div>
{% endblock %}
